{% extends 'base.html' %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}
    </div>
    <div>
        {{ form.description.label }}<br>
        {{ form.description(size=64) }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>

<ul>
    {% for todo in todos %}
    <li>
        <strong>{{ todo.title }}</strong>: {{ todo.description }}
        <a href="{{ url_for('update', todo_id=todo.id) }}">Update</a>
        <form action="{{ url_for('delete', todo_id=todo.id) }}" method="POST" style="display:inline;">
            <button type="submit">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
